{% extends 'base.html.twig' %}

{% block title %} Vivre Ensemble {% endblock %}

{% block body %}
    <h2 class="colorred fontsz6 mrgleft">Vivre Ensemble</h2>

    <h3 class="fontsz4 mrgleft">Nos Ennemis</h3>

    {% for article in articles %}
        <article class="row mt-5">
            <div class="bgblue col-11 {% if loop.index is even %}offset-1{% endif %} d-flex justify-content-start g-0">
                <div class="square-container col-4 g-0 mrg2 posrel">
                    <img class="img-cover" src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}">
                </div>
                <div class="col-6 mrgleft">
                    <h4 class="colorsand fontsz5">{{ article.title }}</h4>
                    <p class="colorwhite">{{ article.description }}</p>
                </div>
            </div>
        </article>
    {% endfor %}

{% endblock %}
